<!-- Validation failure messages -->
<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit "<%= @comment.title %>"</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_comment/<%= @comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @comment.title %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @comment.body %>">
      </div>

      <!-- Label and input for debate_id -->
      <div class="form-group">
        <label for="debate_id" class="control-label">
          Debate
        </label>

        <%= select_tag(:debate_id, options_from_collection_for_select(Debate.all, :id, :topic, @comment.debate_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Comment
      </button>
      or
      <a href="/debates/<%= @comment.id %>">Cancel</a>
      
    </form>
  </div>
</div>
