<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Picture</dt>
      <dd><img src="<%= @user.picture %>" class="img-responsive"></dd>

      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Bio</dt>
      <dd><%= @user.bio %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many debates -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Debates
      </li>

      <% @user.debates.each do |debate| %>
        <li class="list-group-item">
          <a href="/debates/<%= debate.id %>">
            <%= debate.liburl %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/debates/<%= debate.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/debates/<%= debate.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_debate/<%= debate.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @user.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @user.favorites.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.debate_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
