<div class="page-header">
  <h3>Debate #<%= @debate.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Liburl</dt>
      <dd><%= @debate.liburl %></dd>

      <dt>Libtitle</dt>
      <dd><%= @debate.libtitle %></dd>

      <dt>Conurl</dt>
      <dd><%= @debate.conurl %></dd>

      <dt>Contitle</dt>
      <dd><%= @debate.contitle %></dd>

      <dt>User</dt>
      <dd><%= @debate.user_id %></dd>

      <dt>Topic</dt>
      <dd><%= @debate.topic %></dd>

      <dt>Electionid</dt>
      <dd><%= @debate.electionid %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/debates" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @debate.user %>
        <a href="/debates/<%= @debate.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_debate/<%= @debate.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Debate has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @debate.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Debate has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @debate.favorites.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.debate_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
