<h1>Polling Location</h1>


<h2>Polling Location</h2>
<p><%= @name %></p>

<h2>Location Address</h2>
<p><%= @line1 %> <%= @city %>, <%= @state %>  <%= @zip %></p>

<h2>Polling Hours</h2>
<p><%= @hours %></p>
